.container-h {
    width: 100%;
    height: 250px;
    background-color: red;
}
.zurag {
    margin-left: -15px;
    margin-right: -15px;
}
.m {
    width: 25%;
}
.m img {
    width: 200px;
    height: 150px;
    margin-left: 100px;
    margin-top: ;
}